<div class="jumbotron text-center">
	<h2><span class="fa fa-lock"></span> Authentication</h2>
	<p>Login or register:</p>
	<a href="/login" class="btn btn-default">
		<span class="fa fa-user"></span> Login
	</a>
	<a href="/signup" class="btn btn-default">
		<span class="fa fa-user"></span> Sign up
	</a>
	<a href="/auth/google" class="btn btn-danger">
		<span class="fa fa-google-plus"></span> Google
	</a>
</div>
